body{
    margin:0;
    background-color: hsla(213, 85%, 79%, 0.83);
}

hr{
width: 75%;
}
.inputSubmit{
    display:flex;
    justify-content: center;
    margin-top:15px;
}

.cityNameInput{
    font-size:1.5em;
    border-radius: 5px;
    border-color: hsl(213, 66%, 66%);
    border-width: 4.5px;
    border-style: solid;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.254);
}

.subButton{
    margin-left: 20px;
    font-size:1.5em;
    border-radius:5px;
    border:solid;
    border-color: rgb(4, 255, 4);
    background-color: hsla(120, 33%, 57%, 0.767);
    color:rgb(231, 231, 231);
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.781);
    cursor:pointer;
    transition: background-color 0.2s;
}
.subButton:hover{
background-color: hsl(120, 33%, 57%);;
}

.weatherFacts{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(213, 64%, 74%);
    width: 350px;
    margin:auto;
    margin-top:5em;
    border:solid 3px hsl(213, 24%, 47%);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.324);
}

.cityName{
    color:white;
    font-weight:bold;
    margin-top: 25px;
    font-size: 3em;
}

.weatherFacts p{
    font-size: 2em;
    color:white;
    margin: 10px;
}

